<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Eventos y metodos</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src='vue.js'></script>
</head>
<body>
<!--
v-on directiva ejecucion de un evento
v-on:click evento al hacer click
methods: objeto el cual se atan metodos
en vue se pueden utilizar modificadores de evento como 
prevent
stop stop propagation
despues de la directiva v-on:click.prevent

v-on = @}


on click 
@click.prevent='signup'
@submit.prevent = 'signup'


para acceder a los valores de las propiedades en data desde los metodos puedes acceder utilizando this mas . mas el nombre de la variables
this.name

$event variable especial de vue js utilizada para pasar el evento de javascript a los metodos de vue js

-->
   <h1 v-if='name'>{{ gender == 'm' ? 'Bienvenido' : 'Bienveida'}} , {{name}}</h1>
   <p v-if='description'>{{description}}</p>
	<div class="col-xs-6 col-center">
		<form @submit='signup(false, $event)' action="">
		   <div class="form-group">
		   	 <label for="name">Nombre:</label>
		   	 <input type="text" v-model="name" name='name' class='form-control'>
		   	 <p v-if='!name' class='alert alert-danger'>Ingrese el Nombre</p>
		   	 <p v-if='name.length <= 2' class="alert alert-danger">El nombre debe tener minimo 2 caracteres</p>

		   </div>
		   <div class="form-group">
			   <label for="Gender">Gender</label>
				<div class="checkbox">
					<label for="gender">
						Male: <input type="radio" name='gender' v-model='gender' value='m'>
						Female: <input type="radio" name='gender' v-model='gender' value='f'>
					</label>
				</div>
		   </div>
			<div class="form-group">
				<label for="desc">Descfription:</label>
				<textarea name="desc" id="" class='form-control'  rows="3" v-model='description'></textarea>
				<p v-if='!description' class="alert alert-danger">Ingrese una descripcion</p>
				<p v-if='description.length <= 10' class="alert alert-danger">La descripccion debe tener minimo 10 caracteres</p>
			</div>
			<p>¿Cuantos años de experiencia tienes con php?</p>
		    <p>{{years_php}}</p>
		    <button type='button' class='btn' @click='years_php ++'>+</button>
		    <button type='button' class='btn' @click='years_php --'>-</button>

			<div class="form-group"><button v-show='name, gender, description'  type='submit' class='btn btn-info'>Registrate</button>
				<button v-show='name, gender, description'  type='submit' class='btn btn-info' @click='signup(true, </div>$event)'>Registrate y sal del sistema</button>
				<div>
		</form>

		<pre>
			{{$data | json}}
		</pre>
	</div>
	<script>
		new Vue({
			el: 'body',
			data: {
				name: '',
				gender: 'm',
				description: '',
				years_php: 0
			},
			methods: {
				signup: function (logout, event) {
					event.preventDefault();
					 /*Evita recargar la pagina
					*/
					alert(this.name);
					if(logout) {
              			alert('Concha ha salido joder');
					}        
				}
			}
		});
	</script>
</body>
</html>