<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Eventos y metodos</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src='../vue.js'></script>
</head>
<body>
<!--
Directiva v-bind sirve para evaluar una expresion o un objeto javascript de igual forma con los estilos css atando atributos y pasando objetos
en pocas palabras con la directiva v-bind tu puedes atar a tributos a expresiones


v-on = @
: = v-bind


-->
   <h1 v-if='name'>{{ gender == 'm' ? 'Bienvenido' : 'Bienveida'}} , {{name}}</h1>
   <p v-if='description'>{{description}}</p>
	<div class="col-xs-6 col-center">
		<form @submit='signup(false, $event)' action="">
		   <div class="form-group">
		   	 <label for="name">Nombre:</label>
		   	 <input type="text" v-model="name" name='name' class='form-control'>
		   	 <p v-if='!name' class='alert alert-danger'>Ingrese el Nombre</p>
		   	 <p v-if='name.length <= 2' class="alert alert-danger">El nombre debe tener minimo 2 caracteres</p>

		   </div>
		   <div class="form-group">
			   <label for="Gender">Gender</label>
				<div class="checkbox">
					<label for="gender">
						Male: <input type="radio" name='gender' v-model='gender' value='m'>
						Female: <input type="radio" name='gender' v-model='gender' value='f'>
					</label>
				</div>
		   </div>
			<div class="form-group">
				<label for="desc">Descfription:</label>
				<textarea name="desc" id="" class='form-control'  rows="3" v-model='description'></textarea>
				<p v-if='!description' class="alert alert-danger">Ingrese una descripcion</p>
				<p v-if='description.length <= 10' class="alert alert-danger">La descripccion debe tener minimo 10 caracteres</p>
			</div>
			<p>¿Cuantos años de experiencia tienes con php?</p>
		    <p>{{years_php}}</p>
		    <button type='button' 
		    :class="{btn: true, 'btn-danger': years_php > 10}" :style="calculateyears()"
		     @click='addYear(true,false)'>+</button> <!-- @click='years_php ++' 
             {{ years_php > 10 ? "btn-danger" : ""}}
            En esta parte se utiliza el metodo v-bind 
            btn-danger esta siendo tratada como una porpiedad de javascript y no clase para tratarla como clase habria que declararla entre comilla

             -->
		    <button type='button' :class='btn: true, btn-danger: years_php > 10' :disabled='years_php == 0' @click='subYear(true,false)'>-</button> <!-- @click='years_php guionguion' -->


            <p>¿Cuantos años de experiencia tienes con javascript?</p>
		    <p>{{years_js}}</p>
		    <button type='button' @click='addYear(false,true)' >+</button>
		    <button type='button' @click='subYear(false,true)' :disabled='years_js == 0'>-</button>

			<div class="form-group"><button v-show='name, gender, description'  type='submit' class='btn btn-info'>Registrate</button>
				<button v-show='name, gender, description'  type='submit' class='btn btn-info' @click='signup(true, </div> $event)'>Registrate y sal del sistema</button>
				<div>
		</form>

		<img src="https://vuejs.org/images/logo.png" alt="" :title='years_php'>  <!--{{years_php}}-->

		<pre>
			{{$data | json}}
		</pre>
	</div>
	<script>
		new Vue({
			el: 'body',
			data: {
				name: '',
				gender: 'm',
				description: '',
				years_php: 0,
				years_js: 0
			},
			methods: {
				signup: function (logout, event) {
					event.preventDefault();
					 /*Evita recargar la pagina
					*/
					alert(this.name);
					if(logout) {
              			alert('Concha ha salido joder');
					}        
				},
				addYear: function(php, js) {
					if(php) {
						this.years_php++;
					}
					
					if(js) {
						this.years_js++;
					}
					

				},
				subYear: function(php, js) {
					if (php) {
						 if (this.years_php > 0) {
                    	     this.years_php--;
                         }
					}

                    if(js) {
                    	if (this.years_js > 0) {
                    		this.years_js--;
                        }
                    }
				},
				calculateyears: function() {

                    return {'font-size': 10 + this.years_php + 'px'};
				}
			}
		});


		//Recuerda para referenciar un propiedad dentro del objeto data se utiliza this
	</script>
</body>
</html>